
@page "/"
@using Shop.Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ProductService ProductService
@inject IToastService ToastService


<h3>Добро пожаловать в интернет магазин ShopBlazor</h3>
<p>Текущее местное время:</p>
<p>@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</p>
